body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#main{
  margin-top: auto;
  margin: auto;
  width: 80%;
  height: 100%;
}
.row{
  margin-right: 0 !important;
}
.chesspiececontainer{
  display: inline-block;
}
.chesspiece{
  height: 40px;
  width: 40px;
}

.board{
  margin-top: 10%;
  display: inline-block;
  width: 384px;
  height: 384px;
}
.boardside{
  border-radius: 20px;
  text-align: center;
}
.statside{
  border-radius: 20px;
  /*margin-top: 5%;*/
}
.Square {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 48px;
}

.black {
    background-color: #e08b3e;
}

.white {
  background-color: #ffffc3;
}
.highlighted {
  border: 3px solid yellow !important;
}
.capturable {
  border: 3px solid red !important;
}
#graverow{
  height: 200px;
}
#whitegrave{
  height: 100%;
  border-radius: 20px;
  background-color: white;
}
#blackgrave{
  height: 100%;
  color: white;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}
.current{
  margin-top: 5px;
  text-align: center;
  border-radius: 20px;
}
.captured{
  text-align: left;
  display: inline-flex;
}
